.wrapper {
    width: 100%;
    background: rgba(255, 255, 255, 0.908);
    box-shadow: rgb(204, 204, 204) 0px 2px 12px;
    border-radius: 8px;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 50px;
    padding: 6px;
}
