.wrapper {
   display: flex;
   align-items: center;
   justify-content: center;
}
.wrapper-content {
   width: 1200px;
   padding: 0 24px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.heading {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: nowrap;
   width: 100%;
   margin-bottom: 40px;
   font-size: 1.6rem;
   position: relative;
   p {
      height: 2px;
      flex: 1;
      background-color: var(--primary-color);
      font-weight: bolder;
      display: block;
      border: 1px solid var(--primary-color);
   }
   h1 {
      border: 1px solid var(--primary-color);
         color: var(--primary-color);
      padding: 2px 16px;
      width: 30%;
      text-align: center;
      border-radius: 999px;
      font-weight: 600;
      font-size: 2.6rem;
   }
}
.link {
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   align-items: center;
}
.logo-img {
   height: 140px;
   width: 140px;
   overflow: hidden;
   img {
      height: 100%;
      width: 100%;
      object-fit: contain;
   }
}
.name-logo {
   margin-top: 20px;
   text-align: center;
   display: none;
}
.logo-cate {
   flex: 1;
   text-align: center;
   width: 100%;
}

.item {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   animation: jumpUp 3s infinite linear;
   }
   
   @keyframes jumpUp {
      0% {
         transform: translateY(-10px);
      }
   
      50% {
         transform: translateY(0px);
      }
   
      100% {
         transform: translateY(-10px);
      }
}
@media (min-width: 1024px) and (max-width: 1239px) {
   .logo-tablet {
      display: block;
   }
}
@media (max-width: 395px) {
   .hidden-mobile {
      display: none;
   }
   .logo-mobile {
      display: block;
   }
   .heading {

      p {
         // display: none;
      }
      h1 {
width: 70%;
      }
   }
   .logo-cate {
      width: 100%;
   }
}
