.model {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10001;
    animation: fadeIn linear 0.5s;
    opacity: 1;
    visibility: visible;
}
.model-overlay {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(53, 53, 53, 0.779);
    opacity: 1;
    animation: fadeIn linear 0.5s;
}
.close {
    // display: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s linear;
}
.wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 500px;
    overflow-y: scroll;
    background-color: var(--white);
    z-index: 10001;
    padding: 12px 16px;
    border: 1px solid #ddd;
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
}
.hide-cart {
    animation: fakeCartOut linear 0.5s;
    // right: -100%;
}
.show-cart {
    right: 0 !important;
    animation: fakeCart linear 0.3s;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.clear {
    font-size: 2.4rem;
    cursor: pointer;
    &:hover {
        transform: scale(1.3);
        animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        perspective: 1000px;
    }
}
.content {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}
.cart-image {
    height: 70px;
    width: 70px;
    margin-right: 24px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.cart-infor {
    flex: 1;
}
.cart-price {
}
.cart-clear {
    cursor: pointer;
    font-size: 2.4rem;
    padding: 6px;
    &:hover {
        transform: scale(1.3);
        animation: shake 0.6s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        backface-visibility: hidden;
        perspective: 1000px;
    }
}

.totalPrice {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    h3 {
        font-size: 2rem;
    }
    p {
        font-size: 1.6rem;
        font-weight: 600;
    }
}

// /////////////
.cart-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    button {
        cursor: pointer;
        font-size: 1.6rem;
        text-transform: uppercase;
        width: 220px;
        background-color: var(--black);
        color: var(--white);
        transition: color linear 0.3s;

        &:hover {
            background-color: var(--white);
            color: var(--black);
        }
    }
}
.buy-ing {
    button {
        padding: 12px 0;
    }
}
.check-out {
    button {
        padding: 12px;
    }
}

@media (max-width: 395px) {
    .wrapper {
        width: 300px;
    }
    .cart-image {
        height: 90px;
        width: 90px;
        display: none;
        img {
        }
    }
    .cart-name {
        font-size: 2rem;
    }
    .cart-price {
        font-size: 2rem;
        font-weight: 600;
    }
    .quantity {
        font-size: 2rem;
        font-weight: 600;
    }
    .totalPrice {
        h3 {
            font-size: 2.4rem;
        }
        p {
            font-size: 2.4rem;
            font-weight: 600;
        }
    }
    .cart-btn {
        display: block;
            margin: 0 auto;
        button {
            font-size: 2rem;
        }
    }
    .buy-ing {
        button {
            padding: 12px 0;
        }
    }
    .check-out {
        button {
            padding: 12px;
        }
    }
}
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
@keyframes fadeIn {
    from {
        opacity: 0.1;
    }
    to {
        opacity: 1;
    }
}
@keyframes fakeCart {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fakeCartOut {
    0% {
        right: 0;
        transform: translateX(0);
    }
    100% {
        right: -100%;
        transform: translateX(-100%);
    }
}
