@import "normalize.css";
@import "./grid.scss";
:root {
  --black: #000;
  --white: #fff;
  --primary-color: #f85e34;
  --boxShadow: rgb(204 204 204) 0px 0px 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  width: 100%;
}

a {
  color: var(--black);
  text-decoration: none;
  display: block;
}
.app {
  @media (max-width: 740px) {
    width: 100vh;
  }
}
.darkTheme {
  background-color: rgba(7, 49, 85, 0.942) !important;
  color: #fff !important;
  box-shadow: var(--boxShadow);
}
.darkTheme a {
  // background-color: rgba(7, 49, 85, 0.942) !important;
  color: #fff;
  // box-shadow: var(--boxShadow);
}

.lightTheme {
  background-color: #fff;
  color: #111;
  box-shadow: var(--boxShadow);
}
.Toastify,
.toast__item {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10002;
}
#tippy-4 {
  box-shadow: var(--boxShadow);
}
