.table-loading-placeholder {
    display: inline-block;
    animation: table-loading-placeholder 1s infinite ease-in-out;
}

@keyframes table-loading-placeholder {
    0% {
        background-color: rgba(165, 165, 165, 0.1)
    }

    50% {
        background-color: rgba(165, 165, 165, 0.3)
    }

    100% {
        background-color: rgba(165, 165, 165, 0.1)
    }
}