.commit {
   width: 100%;
   background-image: url(https://mighty-dusk-66790.herokuapp.com/upload/banner-san-pham.jpg);
   background-repeat: 'no-repeat';
   background-size: 'cover';
   height: '400px';
   margin-top: 40px;
}
.commit {
   img {
      height: '200px ';
      width: '200px';
   }
}
