.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0 !important;
        display: none;
    }
    width: 100%;
}
.container {
    margin-top: 40px;
    padding: 0 24px;
    width: 100%;
}
@media (min-width: 1024px) and (max-width: 1239px) {
    .wrapper {
        width: 1024px !important;
        overflow: hidden;
    }
    .container {
        padding: 0 12px;
    }
}
@media (max-width: 740px) {
    .wrapper {
        width: 100vh;
        overflow: hidden;
    }
    .container {
        padding: 0 6px;
    }
}
