.wrapper {
    margin-top: 60px;
        width: 100%;
        height: 100%;
}
.header {
    // padding: 0 24px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.shop-select {
    padding: 10px;
    outline: none;
    border-radius: 20px;
}
.loading {
    font-size: 2.8rem;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    color: var(--white);
    animation: spiner 1s linear infinite;
    color: #000;
}
.pagination {
    width: 100%;
    margin: 0 auto;
}
@keyframes spiner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(380deg);
    }
}
@media (max-width: 740px) {
}