.wrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.container {
   width: 1280px;
   margin-top: 40px;
   padding: 0 24px;
   min-height: 250px;
}
@media (min-width: 1024px) and (max-width: 1239px) {
   .container {
      width: 1024px;
   }
}
@media (max-width: 740px) {
   .wrapper {
      width: 100vw;
      overflow: hidden;
   }
   .container {
      padding: 0 6px;
      width: 100vw;
   }
}
